.App {
  --dark-color: #0c0f0a;
  --lighter-dark-color: #383a37;
  --light-color: #fff;
  --accent-color: #ff206e;
  overflow: clip;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  display: flex;
}

.main-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#target {
  text-decoration: underline var(--accent-color);
}

#main-logo {
  position: fixed;
  font-family: "Saira", sans-serif;
  font-weight: 900;
  color: var(--light-color);
  display: flex;
  text-decoration: none;
  padding: .5rem 1rem;
}

.accent-style {
  color: var(--accent-color);
}
