.App {
  --dark-color: #0c0f0a;
  --light-color: #fff;
  --accent-color: #ff206e;
  overflow: clip;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  display: flex;
}

.main-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#target {
  text-decoration: underline var(--accent-color);
}

#main-logo {
  position: fixed;
  font-family: "Saira", sans-serif;
  font-weight: 900;
  color: var(--light-color);
  display: flex;
  text-decoration: none;
  padding: .5rem 1rem;
}

.accent-style {
  color: var(--accent-color);
}

/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  --size: 12px;
}

.spinner>div {
  width: var(--size);
  height: var(--size);
  background-color: var(--accent-color);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 0.5em;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}